*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -tap-highlight-color: rgba(0, 0, 0, 0);
}
.body{
    transition: background-color .3s ease;
    background-color: #f2e9dc;
}
/* intro */
#in1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-delay: 4s;
    height: fit-content;
    backdrop-filter: blur(20px);
    background: #202020;
    z-index: 9999;
    animation: sectexpand 1s ease forwards;
    animation-delay: 1s;
    overflow: visible;
    transition: all 1s ease-out;
    user-select: none;
}
.barracarga{
    position: absolute;
    left: 0;
    width: 100%;
}
.intro{
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    background: transparent;
    left: 0;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
    opacity: 1;
    transition: all .5s ease;
    overflow: hidden;
}
.intro2{
    width: 100%;
    position: absolute;
    height: fit-content;
    z-index: 101;
    top: 45vh;
    background: transparent;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
    overflow: visible;
    opacity: 1;
    transition: all .5s ease;
    animation: intro2 1s ease;
    animation-delay: 1s;
}
.imagendein{
    height: 3em ;
    transition: all .5s ease-out;
    animation: intro_img .3s ease-out forwards;
}
.intro_div{
    overflow: hidden;
    width: fit-content;
    display: flex;
    height: fit-content;
}
.intro_p{
    display: flex;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: .3em;
    color: #f2e9dc;
    white-space:nowrap;
    width: 0ch;
    transform: translateX(-12em);
    transition: all .5s ease;
    animation: intro_p .5s ease forwards;
    animation-delay: .4s;
    }
/* Barra */
.imagen1{
    width: 1.7em;
    transition: all .3s ease;
    z-index: 2;
}
.barra_a1{
    position: fixed;
    top: 0;
    left: 0;
    width: 15vh;
    height: 20vh;
    display: flex;
    transition: all .5s ease;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 0;
}
.barra_menu{
    position: fixed;
    width: 20vh;
    height: 20vh;
    z-index: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
    background: none;
    border: none;
    gap: .5em;
}
.menu_linea1{
    content: "";
    background: #202020;
    width: 2.8em;
    height: 1px;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_linea2{
    content: "";
    background: #202020;
    width: 2.8em;
    height: 1px;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open1{
    transform: rotate(-45deg) translate(-5px);
}
.open2{
    transform: rotate(45deg) translate(-5px);
}
.buttonmove{
    transform: translateX(5px);
}
/* Menu de navegacion entero */
.menu{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    list-style: none;   
    text-decoration: none;
    background-color: #202020;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 11;
    transition: all .6s ease-in;
    color: #f2e9dc;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
.openmenu {/* hace que el menu aparezca */
    transition: all .6s ease-in;
    animation: openmenu1 .6s ease-in forwards;
}
.closemenu{
    animation: openmenu2 .6s ease-in forwards;
    transition: all .6s ease-in;
}
.menu_ul{
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-weight: 900;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 5em;
    justify-content: center;
    cursor: default;
    letter-spacing: 10px;
}
.menu_ul-li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_ul-a{
    font-family: "Brown Sugar";
    text-decoration: none;
    color: #f2e9dc;
    width: fit-content;
    text-align: center;
    transition: all 1s ease;
    overflow: hidden;
}
.menu_ul_li_a-h3{
    font-weight: 100;
    cursor: pointer;
    text-align: center;
    font-family: "Brown Sugar";
    transition: all 1s ease;
}
.menu_li5{
    position: absolute;
    bottom: 0;
    letter-spacing: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: fit-content;
    align-items: center;
    padding-bottom: .2em;
}
.menu_li5-div{
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}
.menu_li5-icon{
    text-decoration: none;
}
.menu_icons{
    box-sizing:border-box;
    letter-spacing: normal;
    color: #202020;
    border-radius: 10em;
    padding: .1em;
    font-size: .4em;
    margin: 0 .5em;
    background-color: #f2e9dc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}
.barra_menu2{
    content: "";
    position: absolute;
    width: 20vh;
    height:20vh;
    z-index: 2;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
    background: none;
    border: none;
    gap: .5em;
}
.menu2_linea1{
    background: #f2e9dc;
    width: 2.7em;
    height: 1px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu2_linea2{
    background: #f2e9dc;
    width: 2.7em;
    height: 1px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open3{
    transform: rotate(-45deg) translate(-5px);
}
.open4{
    transform: rotate(45deg) translate(-5px);
}
.buttonmove2{
    transform: translateX(5px);
}
.barra_a2{
    position: absolute;
    text-decoration: none;
    color: #f6e9d700;
    z-index: 2;
    top: 0;
    left: 0;
    height: 20vh;
    width: 15vh;
    display: flex;
    justify-content: center;
}
.imagen2{
    width: 1.7em;
    transition: all .3s ease;
    z-index: 2;
}
/* SECTION 1 */
.section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30vh;
    justify-content: center;
}
.inicio1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
.inicio2{
    display: none;
}
.inicio1 div{
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: baseline;
    overflow-x: visible;
    overflow-y: hidden;
}
.inicio1_div1-p{
    text-align: right;
    font-size: 3em;
    transition: all .3s ease;
    cursor: default;
    white-space: nowrap;
    color: #202020;
    font-family: "brown sugar";
    padding: .2em;
    transform: translateY(100%);
}
.inicio1_div1-p2{
    font-size: 7.5em;
    transition: all .3s ease;
    cursor: default;
    white-space: nowrap;
    color: #202020;
    font-family: "Brown Sugar";
    transform: translateY(100%);
}
.inicio1_div2-p{
    text-align: right;
    font-size: 3em;
    transition: all .3s ease;
    cursor: default;
    white-space: nowrap;
    color: #202020;
    font-family: "Brown Sugar";
    border-radius: 10em;
    padding: .2em;
    transform: translateY(100%);

}
.inicio1_div2-p2{
    font-size: 7.5em;
    transition: all .3s ease;
    cursor: default;
    white-space: nowrap;
    color: #202020;
    font-family: "Brown Sugar";
    transform: translateY(100%);
}
.inicio1_div3-p{
    text-align: right;
    font-size: 3em;
    transition: all .3s ease;
    cursor: default;
    white-space: nowrap;
    color: #202020;
    font-family: "Brown Sugar";
    border-radius: 10em;
    padding: .2em;
    transform: translateY(100%);
}
.inicio1_div3-p2{
    font-size: 7.5em;
    transition: all .3s ease;
    cursor: default;
    white-space: nowrap;
    color: #202020;
    font-family: "Brown Sugar";
    transform: translateY(100%);
}
.inicio1_div4-p{
    font-size: 1.3em;
    color: #202020;
    border-radius: 100em;
    padding: .5em 1em;
    transform: translateY(100%);
}
.compu1{
    animation: textrotation1 1s ease forwards;
    animation-delay: 1s;
}
.cel{
    display: none;
}
/* SECTION2 */
.section2{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    align-items: center;
    overflow: hidden;
}
.section2_div1{
    width: 75%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content:center;
}
.section2_div1-div1{
    display: flex;
    align-items: center;
}
.section2_div1-div1 img{
    height:80vh;
    position: relative;
}
.section2_div1-div2{
    width: auto;
    box-sizing: content-box;
    background-color: #202020;
    display: flex;
    height: 80vh;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.section2_div1-div2-1{
    width: 80%;
    color: #f2e9dc;
    left: auto;
}
.section2_div1-div2-1 p{
    font-family: "Playfair display";
    font-size: 3em;
    font-weight: 300;
    color: #f2e9dc;

}
.section2_div1-div2-2{
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
}
.section2_div1-div2-2 p{
    font-size: 1.3em;
    color: #f2e9dc;
    font-weight: 300;
}
.section2_div1-div2-2 p b{
    font-size: 1em;
    color: #f2e9dc;
}
.section2_div1-div2-3{
    display: flex;
    flex-direction: row;
    width: 80% ;
    height: fit-content;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    border-radius: 20em;
    background-color: #f2e9dc;
}
.section2_div3-p1{
    font-size: 1.1em;
    font-family: "Playfair Display";
    font-weight:600;
    color: #202020;
    white-space: nowrap;
    border-radius: 10em;
    box-sizing: border-box;
    transition: all .2s ease;
    cursor: default;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2_div1-div2-3 div{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    background: #202020;
    border: #f2e9dc 2px solid;
    border-radius: 10em;
    height: 2em;
}
.section2_div3-button1{
    background: transparent;
    border: none;
    white-space: nowrap;
    font-size: 1.2em;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Lato";
    background-color: #202020;
    color: #f2e9dc;
    border-radius: 10em;
    width: 50%;
    transition: all .2s ease;
}
.section2_div3-button1:active{
    transition: all .2s ease;
    background-color: #f2e9dc;
    color: #202020;
}
.section2_div3-button2{
    background: transparent;
    color: #f2e9dc;
    border: none;
    height: 100%;
    white-space: nowrap;
    font-size: 1.2em;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Lato";
    border-radius: 10em;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}
.section2_div3-button2:active{
    transition: all .2s ease;
    background-color: #f2e9dc;
    color: #202020;
}
/* section2 hobbies */
.section2_div2{
    width: 75%;
    height: 90vh;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .3s ease;
    gap: 2em;
    color: #202020;
}
.section2_div2-p{
    font-size: 3em;
    font-family: "Brown Sugar";
    text-align: center;
    width: 100%;
    letter-spacing: 10px;
}
.section2_div2-hobbies-grid{
    display: flex;
    flex-direction:row ;
    width: 100%;
    gap: 1em;
    transition: all .3s ease;
    height: 100%;
}
.section2_div2-div1{
    display: grid;
    width: 100%;
    gap: 1em;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
    transition: all .3s ease;
}
.section2_div2_div-hobbies{
    min-width: 25%;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    flex-direction: column ;
    font-size: 1.3em;
    box-sizing: border-box;
    background-color: #e2dace;
    border-radius: 1em;
    cursor: pointer;
    overflow: hidden;
}
.section2_div2_div-hobbies:nth-child(3){
    grid-column: span 2;
}
.section2_div2_div-hobbies:nth-child(5){
    grid-column: span 2;
}
.section2_div2_div-hobbies:hover{
    transition: all .3s ease;
}
.hobbies-i{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5em;
    transition: all .3s ease;
    position: relative;
    z-index: 10;
    border-radius: 1em;
    font-size: 1em;
    width: 100%;
    top: 50%;
    height: 0px;
}
.hovered-i{
    transition: all .3s ease;
    top: -10%;
}
.hobbies-p{
    font-size: .7em;
    transition: all .3s ease;
    position: relative;
    height: 0px;
    opacity: 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
}
.hovered-p{
    transition: all .3s ease;
    opacity: 1;
    top: 50%;
}
/* SECTION 3 */
.section3{
    content: "";
    width: 100%;
    height: fit-content;
    overflow: hidden;
    color: #202020;

}
.section3_div1{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.section3_div1-p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    user-select: none;
    height: 100%;
    width: 100%;
    font-size:10.2vw;
    color: #202020;
    white-space: nowrap;
    position: relative;
    font-family: "brown sugar";
    animation: scroll-ledwft 200s linear infinite alternate;
    animation-delay: 1s;
    font-weight: 400;
}
.section3_div2{
    height: 100vh;
}
/* section 4 */
.section4{
    background-color: #f2e9dc;
    height: 200vh;
    width: 100%;
}

.section4_div2{
    position: sticky;
    position: -webkit-sticky; /* Para compatibilidad con Safari/IOS */
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    width:fit-content;
    padding: .5em;
    top: 10em;
    right: 0;
    gap: 2em;
    color: #202020;
    font-size: 1em;
}

.section4_div2-a i {
    font-size: 1.4em;
    color: #202020;
}
/* FUENTES */
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  .saa{font-size: none;}
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
}
.redacted-script-light {
    font-family: "Redacted Script", cursive;
    font-weight: 300;
    font-style: normal;
  
}
.redacted-script-regular {
  font-family: "Redacted Script", cursive;
  font-weight: 400;
  font-style: normal;
}  
.redacted-script-bold {
  font-family: "Redacted Script", cursive;
  font-weight: 700;
  font-style: normal;
}
.ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
  }
@font-face {
  font-family: 'Atomic Marker'; /* Nombre de la fuente */
  src: url('fuentes/Set\ Sail\ Studios\ -\ Atomic\ Marker\ Regular.otf') format('opentype'), /* Ruta al archivo WOFF2 */
       url('fuentes/Set\ Sail\ Studios\ -\ Atomic\ Marker\ Extras.otf') format('opentype');
  font-family: 'Brown Sugar';
  src: url('fuentes/Brown\ Sugar\ .otf') format(opentype);  
}
/* ANIMACIONES */
@keyframes intro_p{
    0%{
        width: 0ch;
        transform: translateX(-12em);
    }
    100%{
        width: 20ch;
        padding-left: 1em;
        transform: translate(0);
    }
}
@keyframes intro_img{
    from{filter: opacity(0); scale: 1.5;}
    to{filter: opacity(1);scale: 1;}
}

@keyframes sectexpand {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-180vh);
    }
}
@keyframes intro2{
    from{ top: 45vh;}
    to{top:205vh;}
}
@keyframes intro2cel{
    from{ top: 40vh;}
    to{top:180vh;}
}
@keyframes openmenu1 {
    from{
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
    to{
       clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}
@keyframes openmenu2 {
    from{
       clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    to{
       clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
}
  @keyframes textrotation1{
    0%{
        transform: translateY(100%) ;
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes img_reveal{
    0%{
        left: 100%;
    }
    80%{
        left: -10%;
        transform: rotate(-5deg);
    }
    85%{
        z-index: -1;
    }
    100%{
        transform: rotate(0);
        left: 30%;
        z-index: 1;
    }
}
/* Observe interactions */
.active {/* cambio de color de section2 */
    transition: background-color 1s ease;
    background-color: #202020;
}
.coloractive1{
    border-color: #f2e9dc;
    color: #f2e9dc;
    transition: border-color  1s ease, color 1s ease;
}
.invert1{
    filter: invert(1);
    transition: filter 1s ease;
}
.menuinvert{
    background: #f2e9dc;
}
/* CELULAR */
@media (max-width: 1200px){
    .inicio1_div1-p{
        font-size: 2em;
    }
    .inicio1_div1-p2{
        font-size: 6.5em;
    }
    .inicio1_div2-p{
        font-size: 2em;
    }
    .inicio1_div2-p2{
        font-size: 6.5em;
    }
    .inicio1_div3-p{
        font-size: 2em;
    }
    .inicio1_div3-p2{
        font-size: 6.5em;
    }
    .inicio1_div4-p{
        font-size: 1em;
    }
    .section2_div2{
        height: 150vh;
    }
    .section2_div2_div-hobbies:nth-child(3){
        grid-column: span 1;
    }
    .section2_div2_div-hobbies:nth-child(6){
        grid-column: span 2;
    }
    .section2_div2_div-hobbies:nth-child(5){
        grid-column: span 2;
    }
}
@media (max-width: 980px){
    .inicio1_div1-p{
        font-size: 1.5em;
    }
    .inicio1_div1-p2{
        font-size: 6em;
    }
    .inicio1_div2-p{
        font-size: 1.5em;
    }
    .inicio1_div2-p2{
        font-size: 6em;
    }
    .inicio1_div3-p{
        font-size: 1.5em;
    }
    .inicio1_div3-p2{
        font-size: 6em;
    }
    .inicio1_div4-p{
        font-size: .9em;
    }
    .section2_div2{
        height: 150vh;
    }
    .section2_div2_div-hobbies:nth-child(3){
        grid-column: span 1;
    }
    .section2_div2_div-hobbies:nth-child(6){
        grid-column: span 2;
    }
    .section2_div2_div-hobbies:nth-child(5){
        grid-column: span 2;
    }
}
@media (max-width: 870px){
    .inicio1_div1-p{
        font-size: 1.5em;
    }
    .inicio1_div1-p2{
        font-size: 5.5em;
    }
    .inicio1_div2-p{
        font-size: 1.5em;
    }
    .inicio1_div2-p2{
        font-size: 5.5em;
    }
    .inicio1_div3-p{
        font-size: 1.5em;
    }
    .inicio1_div3-p2{
        font-size: 5.5em;
    }
    .inicio1_div4-p{
        font-size: .9em;
    }
    
}
@media (max-width: 700px){
    .inicio1_div1-p{
        font-size: 1.5em;
    }
    .inicio1_div1-p2{
        font-size: 5em;
    }
    .inicio1_div2-p{
        font-size: 1.5em;
    }
    .inicio1_div2-p2{
        font-size: 5em;
    }
    .inicio1_div3-p{
        font-size: 1.5em;
    }
    .inicio1_div3-p2{
        font-size: 5em;
    }
    .inicio1_div4-p{
        font-size: .9em;
    }
    .section2_div2_div-hobbies:nth-child(3){
        grid-column: span 1;
    }
    .section2_div2_div-hobbies:nth-child(6){
        grid-column: span 1;
    }
    .section2_div2_div-hobbies:nth-child(5){
        grid-column: span 1;
    }
}


@media (max-width: 600px){
    .intro{
        height: 100vh;
    }
    .intro2{
        top: 40vh;
        animation: intro2cel 1s ease;
        animation-delay: 1s;
    }
    .barra_a1{
        height: 10vh;
        width: 10vh;
    }
    .barra_menu{
        width: 10vh;
        height: 10vh;
    }
    .open1, .open2{
        background: #202020;
    }
    .barra_menu2{
        width: 10vh;
        height: 10vh;
    }
    .menu{
        height: 100%;
        align-items: center;
        justify-content: center;
        animation: openmenu2 .3s ease-in;
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
    .openmenu {/* hace que el menu aparezca */
        transition: all .6s ease-in;
        animation: openmenu1 .3s ease-in forwards;
    }
    .menu ul{
        font-size: 4em;
        gap: .5em;
    }
    .menu2{
        right: auto;
        top:auto;
    }
    .barra_a2{
        height: 10vh;
        width: 10vh;
    }
    .menu_li5{
        position: relative;
    }
    .menu_icons{
        font-size: .8em;
    }
    /* section1 */
    .section1{
        margin-bottom: 10vh;
    }
    .inicio1{
        display: none;
    }
    .inicio2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    .inicio2 div{
        width: 100%;
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: baseline;
        overflow: hidden;
    }
    .inicio2_div1-p{
        text-align: center;
        font-size: 2em;
        transition: all .3s ease;
        justify-self: center;
        width: 100%;
        cursor: default;
        white-space: nowrap;
        color: #202020;
        font-family: "brown sugar";
        transform: translateY(10em);
        animation: textrotation1 2s ease forwards;
        animation-delay: .5s;
    }
    .inicio2_div2-p2{
        font-size: 3em;
        transition: all .3s ease;
        cursor: default;
        white-space: nowrap;
        color: #202020;
        font-family: "Brown Sugar";
        transform: translateY(-10em);
        animation: textrotation1 2s ease forwards;
        animation-delay: .7s;
    
    }
    .inicio2_div2-p{
        text-align: center;
        font-size: 2em;
        transition: all .3s ease;
        cursor: default;
        white-space: nowrap;
        color: #202020;
        font-family: "Brown Sugar";
        border-radius: 10em;
        padding: .2em;
        transform: translateY(10em);
        animation: textrotation1 2s ease forwards;
        animation-delay: .9s;
    
    }
    .inicio2_div3-p2{
        font-size: 3em;
        transition: all .3s ease;
        cursor: default;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        color: #202020;
        font-family: "Brown Sugar";
        transform: translateY(-10em);
        animation: textrotation1 2s ease forwards;
        animation-delay: 1s;
    }
    .inicio2_div4-p{
        text-align: center;
        font-size: 2em;
        width: 100%;
        transition: all .3s ease;
        cursor: default;
        white-space: nowrap;
        color: #202020;
        font-family: "Brown Sugar";
        border-radius: 10em;
        padding: .2em;
        transform: translateY(10em);
        animation: textrotation1 2s ease forwards;
        animation-delay: 1.2s;
    }
    .inicio2_div5-p2{
        font-size: 3em;
        transition: all .3s ease;
        cursor: default;
        white-space: nowrap;
        color: #202020;
        font-family: "Brown Sugar";
        transform: translateY(-10em);
        animation: textrotation1 2s ease forwards;
        animation-delay: 1.3s;
    }
    .inicio2_div6-p{
        font-size: 1em;
        color: #202020;
        border-radius: 100em;
        padding: .5em 1em;
        white-space: nowrap;
        transform: translateY(10em);
        animation: textrotation1 3s ease-out forwards;
        animation-delay: 1s;
    }
    /* Section2 */
    .section2_div1{
        flex-direction: column-reverse;
    }
    .section2_div1-div1{
        justify-content: center;
        height: 50vh;
    }
    .section2_div1-div1 img{
        height: 50vh;
    }
    .section2_div1-div2{
        width: 90%;
    }
    .section2_div1-div2-1{
        white-space: nowrap;
    }
    .section2_div2{
        height: 250vh;
    }
    .section2_div2_div-hobbies:nth-child(3){
        grid-column: span 1;
    }
    .section2_div2_div-hobbies:nth-child(6){
        grid-column: span 1;
    }
    .section2_div2_div-hobbies:nth-child(5){
        grid-column: span 1;
    }
}