/* Normalizacion */

*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
/* Desactivar el efecto de resaltado en todos los elementos */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Desactivar el efecto de resaltado solo en los hipervínculos */
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -tap-highlight-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar{
    width: 1em;
    background: #202020;
}
body::-webkit-scrollbar-thumb{
    border: 2px solid #f6e9d7;
    background: #f6e9d7;
    border-radius: .6em;
    box-shadow: 0 0 2em #f6e9d7;
    border-left: 1px solid #202020;
}
/* Desactivar el efecto de resaltado solo en los botones */
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -tap-highlight-color: rgba(0, 0, 0, 0);
}

html{
    background: #f6e9d7;
}
/* intro */
#in1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-delay: 4s;
    height: fit-content;
    backdrop-filter: blur(20px);
    background: #202020;
    z-index: 9999;
    animation: sectexpand .7s ease forwards;
    animation-delay: 1s;
    overflow: visible;
    transition: all 1s ease-out;
}
.barracarga{
    position: absolute;
    left: 0;
    width: 100%;
}
.intro{
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    background: transparent;
    left: 0;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
    opacity: 1;
    transition: all .5s ease;
    overflow: hidden;
}
.intro2{
    width: 100%;
    position: absolute;
    height: fit-content;
    z-index: 101;
    top: 45vh;
    background: transparent;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
    overflow: visible;
    opacity: 1;
    transition: all .5s ease;
    animation: intro2 1s ease;
    animation-delay: 1s;
}

.imagendein{
    height: 3em ;
    transition: all .5s ease-out;
    animation: intro_img .3s ease-out forwards;
}
.intro_div{
    overflow: hidden;
    width: fit-content;
    display: flex;
    height: fit-content;
}
.intro_p{
    display: flex;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: .3em;
    color: #f6e9d7;
    white-space:nowrap;
    width: 0ch;
    transform: translateX(-12em);
    transition: all .5s ease;
    animation: intro_p .5s ease forwards;
    animation-delay: .4s;
    }


/* Barra */
/* Barra */
/* Barra */
/* Barra */
/* Barra */


.barra {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    font-weight: 900;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .3s ease;
}
.hidden{
    transform: translateY(0vh);
    transition: all .3s ease;
}
.imagen1{
    height: 1.9em;
    padding:0 1em;
    transition: all .3s ease;
    z-index: 2;
}
.barra a{
    text-decoration: none;
    color: #202020;
    z-index: 0;
}
h1{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: .3em;
    width: 100%;
    text-align: start;
    transition: all .3s ease;
    cursor: pointer;
    z-index: 2;
}
.menuabiertoh1{
    color: #f6e9d7;
    z-index: 2;
    transition: all .2s ease;
}
.barra_menu{
    content: "";
    position: absolute;
    width: 10vh;
    height: 10vh;
    z-index: 0;
    right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
    background: none;
    border: none;
    gap: .5em;
}
.menu_linea1{
    content: "";
    background: #202020;
    width: 2.7em;
    height: 1px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_linea2{
    content: "";
    background: #202020;
    width: 2.7em;
    height: 1px;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open1{
    transform: rotate(-45deg) translate(-5px);
}
.open2{
    transform: rotate(45deg) translate(-5px);
}
.buttonmove{
    transform: translateX(5px);
}
.menu{
    display: flex;
    position: fixed;
    justify-content: space-around;
    list-style: none;   
    backdrop-filter: blur(8px);
    background-color: #202020;
    width: 100%;
    height: 85vh;
    top: 0;
    right: 0;
    transform: translateY(0em);
    overflow: hidden;
    transition: all .6s ease-in;
    color: #f6e9d7;
    animation: openmenu2 .6s ease-in forwards;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    padding:10vh 0 5vh 0 ;
}
.openmenu {/* hace que el menu aparezca */
    transition: all .6s ease-in;
    animation: openmenu1 .6s ease-in forwards;
}

.menu ul{
    list-style: none;
    display: grid;
    position: relative;
    grid-template-rows: repeat(3, 1fr);
    font-weight: 900;
    width: 100%;
    text-align: center;
    font-size: 5em;
    letter-spacing: 10px;
    color: #f6e9d7;
}
.menu ul a{
    font-family: "Playfair Display";
    font-weight: 600;
    color: #f6e9d7;
}
.menu_li1{
    cursor: pointer;
    font-family: "Playfair Display";
    padding: 0 .2em;
    font-weight: 300;
    color: #f6e9d7;
}
.menu_li2{
    cursor: pointer;
    font-family: "Playfair Display";
    padding: 0 .2em;
    color: #f6e9d7;
}
.menu_li3{
    cursor: pointer;
    font-family: "Playfair Display";
    padding: 0 .2em;
    color: #f6e9d7;
}
.menu_li4{
    font-weight: 300;
    cursor: default;
    color: #f6e9d7;
    width: 100%;
}    

/* BOTON DE MENU 2 PARA CAMBIAR EL COLOR CUANDO SE ABRE EL MENU */
.barra_menu2{
    content: "";
    position: absolute;
    width: 10vh;
    height: 10vh;
    z-index: 2;
    top: 0;
    right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
    background: none;
    border: none;
    gap: .5em;
}
.menu2_linea1{
    content: "";
    background: #f6e9d7;
    width: 2.7em;
    height: 1px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu2_linea2{
    content: "";
    background: #f6e9d7;
    width: 2.7em;
    height: 1px;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open3{
    transform: rotate(-45deg) translate(-5px);
}
.open4{
    transform: rotate(45deg) translate(-5px);
}
.buttonmove2{
    transform: translateX(5px);
}


/* titulo cuando el menu esta abierto */
.barra_a2{
    position: absolute;
    text-decoration: none;
    color: #f6e9d7;
    z-index: 2;
    top: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    left: 0;
}
.imagen2{
    height: 1.9em;
    padding:0 1em;
    transition: all .3s ease;
    z-index: 2;
}
.barra_h32{
    color: #f6e9d7;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: .3em;
    width: 100%;
    text-align: start;
    transition: all .3s ease;
    cursor: pointer;
    z-index: 2;
}







/* SECTION 1 */
/* SECTION 1 */
/* SECTION 1 */
/* SECTION 1 */
/* SECTION 1 */





.section1 {
    width: 80%;
    padding: 0 10%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 30vh;
    overflow: hidden;
    background-color: #f6e9d7;
}
.section1_div1{
    margin: 1em 1em 1em .9em;
    margin-top: 30vh;
    background-size: contain;
}
.section1_div1 div{
    display: flex;
    align-items: center;
}
/* contenedor del texto */
.section1_div1{
    color: #202020;
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
}
.section1_p{
    width: 100%;
    font-size: 2.3em;
    font-weight: 300;
    animation: revealtext .4s ease forwards;
    animation-delay:.3s;
    transform: translateY(200px);
    overflow: hidden;
}

.section1_p::after{
    content: "";
    width: 100%;
    position: relative;
    left: 0;
    top: 100%;
    z-index: 1;
    background-color: #e78700;
    height: 100%;
}
@keyframes revealText111 {
    from {
        top: 0; /* Animación de abajo hacia arriba */
    }
    to {
        top: -100%; /* Muestra completamente el texto */
    }
}
.section1_p b{
    font-family: "Playfair Display";
    width: fit-content;
}


.section1_div2{
    display: flex;
    flex-direction: column;
    width: fit-content ;
    height: fit-content;
}
.section1_div2-p1{
    font-size: 1.5em;
    font-family: "Lato""Playfair Display";
    font-weight: 900;
    padding: .5em ;
    width: fit-content;
    white-space: nowrap;
}
.section1_div2-p2{
    display: none;
    font-size: 1.2em;
    max-width: 30em;
}
.section1_div2 div{
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.section1_div2-button1{
    background: transparent;
    border: 2px solid #202020;
    white-space: nowrap;
    margin: .5em;
    font-size: 1.4em;
    padding:.5em;
    width: 50%;
    cursor: pointer;
    font-weight: 600;
    font-family: "Playfair Display";
    background-color: #202020;
    color: #f6e9d7;
}
.section1_div2-button1:active{
    border: none;
    text-decoration: underline;
}
.section1_div2-button2{
    background: transparent;
    border: 2px solid #202020;
    margin: .5em;
    white-space: nowrap;
    padding:.5em;
    font-size: 1.4em;
    width: 50%;
    cursor: pointer;
    font-family: "Playfair Display";
    font-weight: 600;
}
.section1_div2-button2:active{
    border: none;
    text-decoration: underline;
}





/* SECTION2 */
/* SECTION2 */
/* SECTION2 */
/* SECTION2 */
/* SECTION2 */
/* SECTION2 */









.section2{
    content: "";
    width: 100%;
    height: 300vh;
    padding-top: 8em;
    display: flex;
    background-color: #f2e9dc;
    flex-direction: column;
}
.section2_div1{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 2px solid #202020;
    margin:1em;
    padding:0 1em;
    padding-top:.5em;
    height: fit-content;
    margin: 0 auto;
}
.section2_p{
    z-index: 1;
    font-size: 6em;
    font-family: "Playfair Display";
    cursor: default;
}
.section2_p-span{
    content: "";
    width: 0%;
    height: 2em;
    position: relative;
    bottom: 2.5em;
    background-color: #de9022;
    visibility: hidden;
    transition: all .3s ease;
}
.section2_div2{
    display: flex;
    margin: auto 0;
    width: 100%;
    padding: 2em 0%;
    overflow: hidden;
    gap: 2em;
    justify-content: center;
}
.section2_div2 div span{
    content: "";
    background-color: #202020;
    width: 200%;
    display: flex;
    align-items: center;
    color: #f6e9d7;
    user-select: none;
    font-weight: 900;
    font-size: 3em;
    letter-spacing: .5em;
    height: 2px;
    margin: .5em 0;
}
.section2_div2-p1{
    font-size: 1.2em;
    z-index: 1;
    min-width: 15em;
    width: 20em;
    font-weight: 900;
    height: fit-content;
    margin: auto 0;
    cursor: default;  
}
.section2_div2-p2{
    font-size: 1.4em;
    padding-left: 2em;
    z-index: 1;
    min-width: 20em;
    font-weight: 400;
    height: fit-content;
    margin: auto 0;
    cursor: default;
}
.section2_div2-p b{
    font-weight: 900;
}
.section2_div2-img{
    height: 16em;
    border: 1px  solid #202020;
    background: rgba(246, 240, 240, 0);
    padding: 1em;
}






/* SECTION 3 */
/* SECTION 3 */
/* SECTION 3 */
/* SECTION 3 */
/* SECTION 3 */
/* SECTION 3 */
/* SECTION 3 */








.section3{
    content: "";
    width: 100%;
    height: 130vh;
    background-color: #f2e9dc;
    box-shadow: 0 0 3em #f2e9dc;

}
.section3_div1{
    width: 100%;
    display: flex;
    justify-content: end;
}
.section3_div1-img{
    position: relative;
    bottom: 3em;
    height: 10em;
    display: none;
}






/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */
/* section 4 */





.section4{
    background-color: #f2e9dc;
    content: "";
    height: 200vh;
    width: 100%;
}

.section4_div2{
    position: sticky;
    position: -webkit-sticky; /* Para compatibilidad con Safari/IOS */
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    width:fit-content;
    padding: .5em;
    top: 10em;
    right: 0;
    gap: 2em;
    color: #202020;
    font-size: 1em;
}

.section4_div2-a i {
    font-size: 1.4em;
    color: #202020;
}


/* FUENTES */
/* FUENTES */
/* FUENTES */
/* FUENTES */
/* FUENTES */
/* FUENTES */

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-#202020 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-#202020-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
}
.redacted-script-light {
    font-family: "Redacted Script", cursive;
    font-weight: 300;
    font-style: normal;
  
}
.redacted-script-regular {
  font-family: "Redacted Script", cursive;
  font-weight: 400;
  font-style: normal;
}  
.redacted-script-bold {
  font-family: "Redacted Script", cursive;
  font-weight: 700;
  font-style: normal;
}
.ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  













/* ANIMACIONES */

@keyframes revealtext{
    0%{transform: translateY(200px);}
    100%{transform: translateY(0px);}
}

@keyframes menu1 {
    0%,30%{transform: translateY(-3.5px);}
    50%,80%{transform: translateY(0px);}
    100%{transform: rotate(45deg);
        background-color: #f6e9d7;
    }
}
@keyframes menu2 {
    0%,30%{transform: translateY(3.5px);}
    50%,80%{transform: translateY(0px);}
    100%{transform: rotate(-45deg);
        background-color: #f6e9d7;
    }
}
@keyframes expand {
    0%{width: 0;}
    100%{width: 100%;}
}
@keyframes girar{
    from {
        transform: rotate(0); /* Punto de partida de la rotación */
    }
    to {
        transform: rotate(360deg); /* Rotación completa desde el punto de partida */
    }

}
@keyframes girar-contra{
    from {
        transform: rotate(0); /* Punto de partida de la rotación */
    }
    to {
        transform: rotate(-360deg); /* Rotación completa desde el punto de partida */
    }

}
@keyframes intro_div{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100em);
    }
}
@keyframes intro_p{
    0%{
        width: 0ch;
        transform: translateX(-12em);
    }
    100%{
        width: 20ch;
        padding-left: 1em;
        transform: translate(0);
    }
}
@keyframes intro_img{
    from{filter: blur(20px); scale: 0.7;}
    to{filter: blur(0);scale: 1.1;}
}

@keyframes sectexpand {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-180vh);
    }
}
@keyframes intro2{
    from{ top: 45vh;}
    to{top:205vh;}
}
@keyframes openmenu1 {
    from{
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
    to{
       clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}
@keyframes openmenu2 {
    from{
       clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    to{
       clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
}
/* Observe interactions */


.active {/* Subrayado */
    transition: width .3s ease;
    width: 100%;
    visibility: visible;
}








/* CELULAR */
/* CELULAR */
/* CELULAR */
/* CELULAR */
/* CELULAR */
/* CELULAR */
/* CELULAR */



@media (max-width: 600px){
    /* intro */

    .intro{
        height: 100vh;
        top: 40vh;
    }

    /* menu */
    .barra{
        height: 7vh;
    }
    .barra_menu{
        right: 0em;
    }
    .open1, .open2{
        background: #202020;
    }
    .barra_menu2{
        right: 0;
        top: -16px;
    }
    .menu{
        height: 100%;
        align-items: center;
        padding:0;
    }
    .menu ul{
        font-size: 4em;
    }
    .menu2{
        right: auto;
        top:auto;
        padding: 4%;
    }
    .barra_a2{
        height: 7vh;
    }
    h1{
        user-select: none;
        width: fit-content;
        margin-left: 1em;
    }




    /* section1 */
    /* section1 */
    /* section1 */
    /* section1 */
    /* section1 */
    /* section1 */
    .section1{
        width: 90%;
        padding: 0 5%;
        align-items: center;
    }
    .section1_div1{
        margin:0;
        margin-top: 50%;
        width: fit-content;
    }
    .section1_p{
        font-size: 1.8em;
        text-align: center;
    }
    .section1-div5{
        width: 100%;
    }
    .section1_div2-p1{
        font-size: 1em;

    }
}